<app-header></app-header>

<mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>

<div class="text-center">
  <button (click)="asVendor()" class="btn btn-primary select-role">Sign up as Vendor</button>
  <button (click)="asInvestor()" class="btn btn-primary select-role">Sign up as Investor</button>
</div>


<div *ngIf="userRole === 'Vendor'">
  <app-signup-vendor (showProgress)="showProgressBar($event)"></app-signup-vendor>
</div>

<div *ngIf="userRole === 'Investor'">
  <app-signup-investor (showProgress)="showProgressBar($event)"></app-signup-investor>
</div>


