<mat-progress-bar *ngIf="showProgress" class="progress-bar-fixed" mode="indeterminate"></mat-progress-bar>

<div class="wrapper">
  <div class="sticky">
    <app-header></app-header>
  </div>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="form">
            <div class="top-green-div"></div>

            <div class="registration">{{ 'registration' | translate:self }}</div>

            <div class="text-center">
              <!-- <button [ngClass]="{ 'selected': userRole === 'Investor' }" (click)="asInvestor()"
                class="btn btn-primary select-role investor">{{ 'investor' | translate:self }}</button> -->
              <button [ngClass]="{ 'selected': userRole === 'Vendor' }" (click)="asVendor()"
                class="btn btn-primary select-role vendor">{{ 'vendor' | translate:self }}</button>
            </div>

            <div class="social">
              <div class="text">{{ 'social' | translate:self }}</div>
              <div class="social-buttons">
                <div (click)="signUpWithFB()" class="social-signin-btn">
                  <img src="../../../assets/img/facebook.png" alt="">
                </div>
                <!-- <div class="social-signin-btn">
                  <img src="../../../assets/img/linkedin.png" alt="">
                </div> -->
                <div (click)="signUpWithGoogle()" class="social-signin-btn">
                  <img src="../../../assets/img/google.png" alt="">
                </div>
              </div>
            </div>

            <div class="use-email">
              <a routerLink="/signup" (click)="useEmailForSignUp()">{{ 'useEmail' | translate:self }}</a>
            </div>

            <div class="vendor-form" *ngIf="userRole === 'Vendor' && useEmail">
              <app-signup-vendor (showProgress)="showProgressBar($event)"></app-signup-vendor>
            </div>

            <div class="investor-form" *ngIf="userRole === 'Investor' && useEmail">
              <app-signup-investor (showProgress)="showProgressBar($event)"></app-signup-investor>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
