<nav class="navbar">
  <a routerLink="">
    <span class="navbar-brand mb-0 h1">IIUA</span>
  </a>
  <div class='navbar-text'>Navbar for signin, signup and index</div>
  <div class="right-part">
    <div class="language">
      <select (change)="languageChange($event)" class="custom-select">
        <option value="ru" selected>ru</option>
        <option value="en">en</option>
      </select>
    </div>
    <button (click)="signIn()">Sign in</button>
    <button (click)="signUp()">Sign up</button>
  </div>
</nav>