<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="form-group">
        <label>Created</label>
        <input disabled=true type="text" class="form-control" value={{profile?.created}} />
      </div>
      <div class="form-group">
        <label>Last edited</label>
        <input disabled=true type="text" class="form-control" value={{profile?.lastEdited}} />
      </div>
      <div class="form-group">
        <label>Phone verified</label>
        <input disabled=true type="text" class="form-control" value={{profile?.phoneVerified}} />
      </div>
      <div class="form-group">
        <label>Email verified</label>
        <input disabled=true type="text" class="form-control" value={{profile?.emailVerified}} />
      </div>
      <div class="form-group">
        <label>Itn</label>
        <input disabled=true type="text" class="form-control" value={{profile?.Itn}} />
      </div>
      <div class="form-group">
        <label>Itn verified</label>
        <input disabled=true type="text" class="form-control" value={{profile?.ItnVerified}} />
      </div>
      <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Full name</label>
          <input type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': isLoaded && formControls.fullName.errors }" />
          <div *ngIf="formControls.fullName.errors" class="invalid-feedback">
            <div *ngIf="formControls.fullName.errors.required">This field cannot be empty</div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': isLoaded && formControls.email.errors }" />
          <div *ngIf="formControls.email.errors" class="invalid-feedback">
            <div *ngIf="formControls.email.errors.required">Email cannot be empty</div>
            <div *ngIf="formControls.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input [textMask]="{mask: mask}" type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': isLoaded && formControls.phone.errors }" />
          <div *ngIf="formControls.phone.errors" class="invalid-feedback">
            <div *ngIf="formControls.phone.errors.required">Phone cannot be empty</div>
            <div *ngIf="formControls.phone.errors.pattern">Enter valid phone</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="!isLoaded || !editProfileForm.valid" class="btn btn-success">Update profile settings</button>
        </div>
      </form>
    </div>
  </div>
</div>

