@import '../../../styles-variables.scss';

.last-activity {
  .project-wrapper {
    .project {
      height: 58px;
      border-radius: 6px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      margin: 6px 4px 0px 8px;
      overflow: hidden;
      display: flex;
      justify-content: space-between;

      .avatar-wrapper {
        min-width: 60px;
        max-width: 60px;
        margin-right: 5px;
        height: 100%;

        .avatar {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 6px;
        }
      }

      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .project-name {
          font-size: 8px;
          font-weight: bold;
          color: $darkGreen;
        }

        .region {
          font-size: 6px;
          letter-spacing: 0.2px;
          display: flex;

          i {
            color: $green;
            font-size: 12px;
          }
        }

        .field-activity {
          font-size: 6px;
          letter-spacing: 0.2px;
          display: flex;
          justify-content: space-between;

          .max-width {
            max-width: 80px;
            overflow: hidden;
            line-height: 1;
          }

          img {
            margin-right: 5px;
            height: 8px;
          }
        }
      }
    }

    hr {
      height: 1px;
      border-top: 1px solid #d3d3d3;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
