<div class="filter">
  <!-- <input [textMask]="{mask: FormHelper.bigNumberMask}" type="text" /> -->

  <div class="border-bottom">
    <h5 class="filter-item-name pt-3">Бюджет Инвестиций</h5>
    <div class="slider">
      <div class="input-group input-group-sm mb-2">
        <div class="mr-2 grey">От</div>
        <input id="budget-from" type="number" class="form-control">
        <div class="grey ml-2">грн</div>
      </div>
      <div class="input-group input-group-sm mb-2">
        <div class="mr-2 grey">До</div>
        <input id="budget-to" type="number" class="form-control">
        <div class="grey ml-2">грн</div>
      </div>
      <div id="budget-range" class="mt-3 mb-3"></div>
    </div>
  </div>

  <div class="border-bottom pb-3">
    <h5 class="filter-item-name pt-3">Регион</h5>
    <div class="slider">
      <select [(ngModel)]="region" (change)="filterOnChange()" type="text">
        <!-- use only (change) -->
        <option selected value="ALL">ALL</option>
        <option value="Autonomous Republic of Crimea">Autonomous Republic of Crimea</option>
        <option value="Cherkasy oblast">Cherkasy oblast</option>
        <option value="Chernihiv oblast">Chernihiv oblast</option>
        <option value="Chernivtsi oblast">Chernivtsi oblast</option>
        <option value="Dnipropetrovsk oblast">Dnipropetrovsk oblast</option>
        <option value="Donetsk oblast">Donetsk oblast</option>
        <option value="Ivano-Frankivsk oblast">Ivano-Frankivsk oblast</option>
        <option value="Kharkiv oblast">Kharkiv oblast</option>
        <option value="Kherson oblast">Kherson oblast</option>
        <option value="Khmelnytsk oblast">Khmelnytsk oblast</option>
        <option value="Kirovohrad oblast">Kirovohrad oblast</option>
        <option value="Kyiv oblast">Kyiv oblast</option>
        <option value="Luhansk oblast">Luhansk oblast</option>
        <option value="Lviv oblast">Lviv oblast</option>
        <option value="Mykolaiv oblast">Mykolaiv oblast</option>
        <option value="Odesa oblast">Odesa oblast</option>
        <option value="Poltava oblast">Poltava oblast</option>
        <option value="Rivne oblast">Rivne oblast</option>
        <option value="Sumy oblast">Sumy oblast</option>
        <option value="Ternopil oblast">Ternopil oblast</option>
        <option value="Vinnytsia oblast">Vinnytsia oblast</option>
        <option value="Volyn oblast">Volyn oblast</option>
        <option value="Zakarpattia oblast">Zakarpattia oblast</option>
        <option value="Zaporizhzhia oblast">Zaporizhzhia oblast</option>
        <option value="Zhytomyr oblast">Zhytomyr oblast</option>
      </select>
    </div>
  </div>

  <div class="border-bottom">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h5 class="filter-item-name">Сфера Деятельности</h5>
      </mat-expansion-panel-header>
      <div class="slider">
        <div class="form-group">
          <div class="custom-checkbox" *ngFor="let option of fieldActivityOptions">
            <label class="checkbox-container">
              <div class="field-activity">{{option.name}}</div>
              <input type="checkbox" name="fieldActivityOptions" value="{{option.name}}" [(ngModel)]="option.checked"
                (change)="fieldActivityChange($event)" />
                <!-- use only (change) - not (input) -->
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="border-bottom">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h5 class="filter-item-name">Сотрудники •</h5>
      </mat-expansion-panel-header>
      <div class="slider">
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey">От</div>
          <input id="employees-from" type="number" class="form-control">
        </div>
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey">До</div>
          <input id="employees-to" type="number" class="form-control">
        </div>
        <div id="employees-range" class="mt-3 mb-3"></div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="border-bottom">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h5 class="filter-item-name">Средний Чек •</h5>
      </mat-expansion-panel-header>
      <div class="slider">
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey">От</div>
          <input id="avg-check-from" type="number" class="form-control">
          <div class="grey ml-2">грн</div>
        </div>
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey">До</div>
          <input id="avg-check-to" type="number" class="form-control">
          <div class="grey ml-2">грн</div>
        </div>
        <div id="avg-check-range" class="mt-3 mb-3"></div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="border-bottom">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h5 class="filter-item-name">Возраст Компании •</h5>
      </mat-expansion-panel-header>
      <div class="slider">
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey">От</div>
          <input id="age-from" type="number" class="form-control">
        </div>
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey">До</div>
          <input id="age-to" type="number" class="form-control">
        </div>
        <div id="age-range" class="mt-3 mb-3"></div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="border-bottom">
    <h5 class="filter-item-name pt-3">Обновление Данных</h5>
    <div class="update-rate">
      <mat-radio-group class="radio-group" [(ngModel)]="updateRate">
        <mat-radio-button class="radio-button" *ngFor="let updateRate of updateRates" color="primary"
          disableRipple='true' (change)="updateRateOnChange($event)" [value]="updateRate.value">
          {{updateRate.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <!-- <button (click)="searchByFilterBtn()" type="button" class="btn btn-primary mt-3">Apply filter</button> -->
</div>
