<div class="filter">
  <!-- <input [textMask]="{mask: FormHelper.bigNumberMask}" type="text" /> -->

  <div class="border-bottom">
    <h5 class="filter-item-name pt-3">{{ 'budget' | translate:self }}</h5>
    <div class="slider">
      <div class="input-group input-group-sm mb-2">
        <div class="mr-2 grey from-to">{{ 'from' | translate:self }}</div>
        <input id="budget-from" type="number" class="form-control">
        <div class="grey ml-2">грн</div>
      </div>
      <div class="input-group input-group-sm mb-2">
        <div class="mr-2 grey from-to">{{ 'to' | translate:self }}</div>
        <input id="budget-to" type="number" class="form-control">
        <div class="grey ml-2">грн</div>
      </div>
      <div id="budget-range" class="mt-3 mb-3"></div>
    </div>
  </div>

  <div class="border-bottom pb-3">
    <h5 class="filter-item-name pt-3">{{ 'region' | translate:self }}</h5>
    <div class="slider">
      <select [(ngModel)]="region" (change)="filterOnChange()" type="text">
        <!-- use only (change) -->
        <ng-container *ngFor="let option of regionOptions; let i = index">
          <option *ngIf="i === 0" selected value="{{option.value}}">{{option.text}}</option>
          <option *ngIf="i !== 0" value="{{option.value}}">{{option.text}}</option>
        </ng-container>
      </select>
    </div>
  </div>

  <div class="border-bottom">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h5 class="filter-item-name">
          <span>{{ 'fieldActivity' | translate:self }}</span>
          <span *ngIf="fieldOfActivity?.length > 0" class="dot">{{fieldOfActivity?.length}}</span>
        </h5>
      </mat-expansion-panel-header>
      <div class="slider">
        <div class="form-group">
          <div class="custom-checkbox" *ngFor="let option of fieldActivityOptions">
            <label class="checkbox-container">
              <div class="field-activity">{{option.name}}</div>
              <input type="checkbox" name="fieldActivityOptions" value="{{option.name}}" [(ngModel)]="option.checked"
                (change)="fieldActivityChange($event)" />
              <!-- use only (change) - not (input) -->
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="border-bottom">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h5 class="filter-item-name">
          <span>{{ 'employees' | translate:self }}</span>
          <span *ngIf="employeesTouched < 3" class="dot">•</span>
        </h5>
      </mat-expansion-panel-header>
      <div class="slider">
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey from-to">{{ 'from' | translate:self }}</div>
          <input id="employees-from" type="number" class="form-control">
        </div>
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey from-to">{{ 'to' | translate:self }}</div>
          <input id="employees-to" type="number" class="form-control">
        </div>
        <div id="employees-range" class="mt-3 mb-3"></div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="border-bottom">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h5 class="filter-item-name">
          <span>{{ 'avgCheck' | translate:self }}</span>
          <span *ngIf="avgCheckTouched < 3" class="dot">•</span>
        </h5>
      </mat-expansion-panel-header>
      <div class="slider">
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey from-to">{{ 'from' | translate:self }}</div>
          <input id="avg-check-from" type="number" class="form-control">
          <div class="grey ml-2">грн</div>
        </div>
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey from-to">{{ 'to' | translate:self }}</div>
          <input id="avg-check-to" type="number" class="form-control">
          <div class="grey ml-2">грн</div>
        </div>
        <div id="avg-check-range" class="mt-3 mb-3"></div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="border-bottom">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h5 class="filter-item-name">
          <span>{{ 'companyAge' | translate:self }}</span>
          <span *ngIf="ageTouched < 3" class="dot">•</span>
        </h5>
      </mat-expansion-panel-header>
      <div class="slider">
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey from-to">{{ 'from' | translate:self }}</div>
          <input id="age-from" type="number" class="form-control">
        </div>
        <div class="input-group input-group-sm mb-2">
          <div class="mr-2 grey from-to">{{ 'to' | translate:self }}</div>
          <input id="age-to" type="number" class="form-control">
        </div>
        <div id="age-range" class="mt-3 mb-3"></div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="border-bottom">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h5 class="filter-item-name">{{ 'dataUpdate' | translate:self }}</h5>
      </mat-expansion-panel-header>
      <div class="slider">
        <div class="form-group">
          <div class="custom-checkbox" *ngFor="let option of updateRateOptions">
            <label class="checkbox-container">
              <div class="field-activity">{{option.name}}</div>
              <input type="checkbox" name="updateRateOptions" value="{{option.name}}" [(ngModel)]="option.checked"
                (change)="updateRateChange($event)" />
              <!-- use only (change) - not (input) -->
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <!-- <button (click)="searchByFilterBtn()" type="button" class="btn btn-primary mt-3">Apply filter</button> -->
</div>
