<div (click)="clickOnCard()" class="project">
  <div class="avatara-wrapper">
    <div class="avatara" [ngStyle]="{ 'background-image': getAvataraUrl(project) }"></div>
    <div class="rating">
      {{project.rating}}
    </div>
  </div>
  <div class="short-project-info">
    <div class="bottom-info">
      <div class="d-flex">
        <h5 class="project-name" [innerHTML]="project.name"></h5>
      </div>
    </div>
    <div class="name-and-region">
      <div class="company-name" [innerHTML]="project.legalEntityName"></div>
      <div>
        <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
        <span class="region">{{project.region}}</span>
      </div>
    </div>
    <div class="money-and-sphere">
      <h5><span>$ </span>{{project.moneyRequired}}</h5>
      <div class="field-activity">
        <img src="../../../assets/img/squares.png" alt="">
        <div class="field-activity-text">
          {{project.sphereActivities[0].name}}
          <span *ngIf="project.sphereActivities.length > 1">+{{project.sphereActivities.length - 1}}</span>
        </div>
      </div>
    </div>
    <hr>
    <!-- <div #stepsElement class="filtered-project-steps">
      <p class="step" *ngFor="let step of project.steps">{{step.data}}</p>
    </div> -->
    <div class="goal">{{project.goal}}</div>
  </div>
</div>

