<div id={{project.id}} class="project" (click)="projectOnSelect()">

  <div class="avatar-wrapper">
    <div class="avatar" [ngStyle]="{ 'background-image': getAvatarUrl(project) }"></div>
    <div class="rating">
      {{project.rating}}
    </div>
  </div>

  <div class="short-project-info">

    <div class="bottom-info">
      <div class="d-flex">
        <h5 (click)="goToProjectClick()" class="project-name" [innerHTML]="project.legalEntityName | highlight: searchText"></h5>
        <img class="flame" src="../../../assets/img/flame.png" alt="">
      </div>
      <div>
        <img class="right-img" src="../../../assets/img/car.png" alt="">
        <img class="right-img" src="../../../assets/img/s-city.png" alt="">
      </div>
    </div>

    <div class="d-flex justify-content-between mb-2">
      <div class="company-name" [innerHTML]="project.name | highlight: searchText"></div>
      <div>
        <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
        <span class="region">{{project.region}}</span>
      </div>
    </div>

    <div class="money-and-field">
      <h5>$ {{project.moneyRequired}}</h5>
      <div class="field-activity">
        <img src="../../../assets/img/squares.png" alt="">
        <div class="field-activity-text">{{project.fieldOfActivity}}</div>
      </div>
    </div>

    <hr>

    <div #stepsElement class="filtered-project-steps">
      <p class="step" *ngFor="let step of project.steps">{{step.data}}</p>
    </div>

  </div>
  <div class="arrow-div">
    <!-- todo remove? -->
    <img matTooltip="Detailed" [matTooltipPosition]="'above'" (click)="projectOnSelect()"
      src="../../../assets/img/right-arrow.png" alt="">
  </div>
</div>
