@import '../../../../styles-variables.scss';

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000000;

  .navbar {
    background: #fcfcfc;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;

    .navbar-brand {
      font-size: 24px;
      font-weight: bold;
      color: black;
    }

    .right-part {
      display: flex;
      align-items: center;

      .language {
        margin: 0 15px;
        cursor: pointer;

        .selected-lang {
          font-size: 20px;
          color: #9A9A9A;
          display: flex;
          align-items: center;
        }

        img {
          margin-left: 4px;
        }

        img.menu-open {
          transform: rotate(180deg);
        }

        ul {
          position: absolute;
          background-color: #fff;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
          padding: 10px 0 10px 0;
          color: $darkGreen;
          font-family: Roboto, sans-serif;
          font-size: 14px;
          z-index: 1;
          transform: translate(-20px, 5px);

          li {
            padding: 4px 11px 4px 11px;
            list-style: none;

            &:hover {
              background-color: #dcdcdc;
            }
          }
        }
      }

      .adaptive-menu {
        .menu-text {
          display: none;
        }

        .btn-wrapper {
          display: flex;

          button {
            margin: 0 15px;
            background: transparent;
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
            font-size: 16px;
            letter-spacing: 0.4px;
            cursor: pointer;
            line-height: 1.1;
            padding: 0;

            &:hover {
              color: $green;
            }
          }

          button.selected {
            color: $darkGreen;
            font-weight: bold;
            border-bottom: 1px solid $darkGreen !important;
          }
        }
      }

      // also used in .ts - matchMedia
      @media screen and (max-width: 760px) {
        .adaptive-menu {
          .menu-text {
            display: block;
            margin-right: 5px;
            padding-right: 15px;
            padding-left: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-left: 5px;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            font-size: 16px;
            cursor: pointer;

            &:after {
              display: inline-block;
              width: 0;
              height: 0;
              margin-left: .255em;
              vertical-align: middle;
              content: "";
              border-top: .3em solid;
              border-right: .3em solid transparent;
              border-bottom: 0;
              border-left: .3em solid transparent;
            }
          }

          .btn-wrapper {
            position: absolute;
            flex-direction: column;
            align-items: flex-start;
            top: 90%;
            padding-bottom: 8px;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: 6px;
            background: white;
            right: 2px;

            button {
              padding-top: 8px;
              text-align: left;
            }
          }
        }
      }

      .selected {
        color: $darkGreen;
        font-weight: bold;
        border-bottom: 1px solid $darkGreen !important;
      }
    }
  }
}
