<div class="sticky">
  <nav class="navbar">
    <a routerLink="">
      <span class="navbar-brand mb-0 h1">IIUA</span>
    </a>
    <div class="right-part">
      <div class="language">
        <select (change)="languageChange($event)" class="custom-select">
          <option selected>ru</option>
          <option>en</option>
        </select>
      </div>
      <div class="adaptive-menu">
        <div (click)="menuIsOpen = !menuIsOpen" class="menu-text">{{ 'menu' | translate:self }}</div>
        <div (click)="menuIsOpen = false" [style.display]="menuIsOpen === true || matchesMediaQuery === false ? 'flex' : 'none'" class="btn-wrapper">
          <button #home (click)="homeClick()" type="button">{{ 'home' | translate:self }}</button>
          <button #profile (click)="profileClick()" type="button">{{ 'myProfile' | translate:self }}</button>
          <button #vieProjects (click)="viewProjectsClick()"
            type="button">{{ 'findProjects' | translate:self }}</button>
          <button (click)="signOutClick()" type="button">{{ 'signOut' | translate:self }}</button>
        </div>
      </div>
    </div>
  </nav>
</div>
