<div class="sticky">
  <nav class="navbar">
    <a routerLink="">
      <span class="navbar-brand mb-0 h1">IIUA</span>
    </a>
    <div class="navbar-text">Navbar for Investor</div>
    <div class="right-part">
      <div class="language">
        <select (change)="languageChange($event)" class="custom-select">
          <option selected>ru</option>
          <option>en</option>
        </select>
      </div>
      <div>
        <button #home (click)="homeClick()" type="button">{{ 'home' | translate:self }}</button>
        <button #profile (click)="profileClick()" type="button">{{ 'myProfile' | translate:self }}</button>
        <button #vieProjects (click)="viewProjectsClick()" type="button">{{ 'findProjects' | translate:self }}</button>
        <button (click)="signOutClick()" type="button">{{ 'signOut' | translate:self }}</button>
      </div>
    </div>
  </nav>
</div>
