<div class="form-group videos">
  <div class="container">

    <div class="row">
      <div class="col-12 mb-2">{{ 'linkToVideo' | translate:self }}</div>
      <div class="col-lg-8 col-md-7 col-12">
        <input (input)="newItemOnInput()" type="text" placeholder="https://www.youtube.com/..." [(ngModel)]="newItem" class="form-control item-name"
          [ngClass]="{ 'is-invalid': !newItemMinValid || !newItemMaxValid || !newItemNullValid }">
        <div *ngIf="!newItemMinValid || !newItemMaxValid || !newItemNullValid" class="invalid-feedback">
          <div *ngIf="!newItemNullValid">{{ 'videosEmpty' | translate:self }}</div>
          <div *ngIf="!newItemMinValid">{{ 'videoMinLength' | translate:self }}</div>
          <div *ngIf="!newItemMaxValid">{{ 'maxVideoLength' | translate:self }}</div>
        </div>

        <div class="invalid-item-count" *ngIf="showMinItemsCountErr()">{{ 'videoMinCount' | translate:self }} {{minItemsCount}}</div>
        <div class="invalid-item-count" *ngIf="showMaxItemsCountErr()">{{ 'videoMaxCount' | translate:self }} {{maxItemsCount}}</div>
      </div>
      <div class="col-lg-4 col-md-5 col-12 pr-0">
        <button (click)="addNewItem()" type="button" class="btn btn-primary mb-2">{{ 'addVideo' | translate:self }}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-12">
        <div class="list-group">
          <div *ngFor="let item of items" class="list-group-item">
            <div class="video-url">{{item.url}}</div>
            <button (click)="removeItem(item)" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
