<div class="full-screen-block">
  <div class="map-wrapper">
    <app-map (objectClick)="onMapObjectClick($event)" (objectHover)="onMapObjectHover($event)"
      (mapClick)="onMapClick($event)"></app-map>
  </div>

  <div class="filter-wrapper">
    <div>
      <div class="search-by-name">
        <div class="input-group mb-3 mt-3">
          <div class="input-group-prepend">
            <button (click)="searchByKeywordBtn($event)" class="btn btn-outline-secondary" type="button">
              <span class="fa fa-search"></span>
            </button>
          </div>
          <input #searchByKeyWordInput type="text" (keydown)="searchByKeywordKeyDown($event)" [(ngModel)]="searchWord"
            class="form-control" placeholder="Найти проект или компанию по ключевым словам" aria-label="Project name"
            aria-describedby="basic-addon2">
        </div>
      </div>
    </div>

    <div class="filter-btn-wrapper">
      <button (click)="filterIsExpanded = !filterIsExpanded" type="button" class="filter-btn"
        [ngClass]="{ 'filter-btn-expanded': filterIsExpanded }">
        <span>Фильтры</span>
        <i *ngIf="filterIsExpanded" class="fa fa-angle-up ml-2"></i>
        <i *ngIf="!filterIsExpanded" class="fa fa-angle-down ml-2"></i>
      </button>
    </div>

    <div *ngIf="filterIsExpanded" class="filter-width">
      <app-filter (filterChange)="filterOnChange($event)"></app-filter>
    </div>
  </div>

  <div class="project-card-wrapper">
    <app-main-screen-project-card [selectedProject]="selectedProject"></app-main-screen-project-card>
  </div>

  <div class="right-component-wrapper">
    <app-main-screen-right></app-main-screen-right>
  </div>
</div>




<!-- <div #previewCard *ngIf="showPreviewCard" class="preview-card">
  some text
  some text
</div> -->

<!-- <div #previewCard class="preview-card">
  some text
  some text
</div> -->




<div class='upload-advance' style="background: '../../../assets/img/message-hover.png'"></div>
<div class='upload-advance' style="background: '../../../assets/img/bell-hover.png'"></div>
<div class='upload-advance' style="background: '../../../assets/img/approve-hover.png'"></div>
