<div class="files-uploader">
  <div class="input-group">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="custom-file col-9">
          <input multiple (change)="handleFilesSelect($event)" accept={{accept}} type="file" class="custom-file-input">
          <label class="custom-file-label">{{ 'choose' | translate:self }} 
            <span *ngIf="content === 'files'">{{ 'contentFiles' | translate:self }}</span>
            <span *ngIf="content === 'photos'">{{ 'contentPhotos' | translate:self }}</span>
          </label>
        </div>
        <div class="col-lg-2 col-4 pl-0">
          <!-- <button [disabled]="allFieldsValid() === false || !files || files.length === 0" class="btn btn-green" type="button"
            (click)=uploadFiles()>{{ 'upload' | translate:self }}</button> -->
        </div>
      </div>
    </div>
    <div *ngIf="parentSubmitted === true || unTouched === false" style="display:block" class="invalid-feedback">
      <div *ngIf="minCountValid() === false">{{ 'maxFilesCount' | translate:self }} {{minCount}}</div>
      <div *ngIf="maxCountValid() === false">{{ 'minFilesCount' | translate:self }} {{maxCount}}</div>
      <div *ngIf="maxSizeValid() === false">{{ 'maxFileSize' | translate:self }} {{maxSize}} bytes</div>
      <div *ngIf="filesIsUploaded === false && allFieldsValid() === true && files.length !== 0">{{ 'uploadFiles' | translate:self }}</div>
    </div>
  </div>
  <div>
    <mat-progress-bar *ngIf="showProgress === true" mode="indeterminate"></mat-progress-bar>
    <div class="file" *ngFor="let file of filesArr">
      <img *ngIf="content==='photos'" height=50 src="{{file.url}}" alt="{{file.name}}">
      <span class="file-name">{{file.name}},</span>
      <span [ngClass]="{ 'too-large': file.size > maxSize }"> {{ 'size' | translate:self }} {{file.size}} bytes</span>
    </div>
  </div>
</div>
