<div class="form">
  <div class="top-green-div"></div>
  <div class="title">Чтоб разместить 3Д объект на карте нужно:</div>
  <div class="items-wrapper">
    <div class="item">Выбрать проект (в правой части верхнего меню или кликнув по кнопке "Виберите проект"). Tсли еще нету ни одного проекта, то создать (нажав
      в меню кнопку "Редактирование проектов")</div>
    <div class="item">Перетащить понравившийся 3Д объект на карту</div>
    <div class="item">Приблизится к объекту колесиком мышки, пока возле него не появится значок <img class="edit-btn" src="../../../assets//img/edit.png" alt=""></div>
    <div class="item">Нажать на значок <img class="edit-btn" src="../../../assets//img/edit.png" alt=""> возле объекта</div>
    <div class="item">В открывшемся окне можно менять размер и поворот объекта</div>
    <div class="item">Чтоб переместить объект нужно кликнуть на нем, и не отпуская мышки перетащить в нужное место</div>
  </div>
  <div class="btn-wrapper">
    <button (click)="closeForm()" class="ok-btn">OK</button>
  </div>
</div>
