<div class="form">
  <div class="top-green-div"></div>
  <div class="title">Чтоб разместить 3Д объект на карте нужно:</div>
  <div class="items-wrapper">
    <div class="item">Выбрать проект (в правой части верхнего меню), если еще нету ни одного проекта, то создать (нажав
      в меню кнопку "проекты")</div>
    <div class="item">Перетащить понравившийся 3Д объект на карту</div>
    <div class="item">Выбрать нужный 3Д объект, кликнув на нем</div>
    <div class="item">Перемещать объект клавишами A, S, D, W, или зажав клавишу X, и перемещая мышку</div>
    <div class="item">Поворачивать объект клавишами Z и C</div>
    <div class="item">Увеличить/уменьшить объект клавишами Z, C</div>
  </div>
  <div class="btn-wrapper">
    <button (click)="closeForm()" class="ok-btn">OK</button>
  </div>
</div>