@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

.sortable-header {
  display: none;
}

.sortable-container { 
  border: none !important;
}

.sortable-list {
  overflow: unset !important;
}

.sortable-list-item {
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.384);
  border-radius: 5px;
  margin: 0 0 -1px 0;
  display: flex;
  justify-content: space-between;
  cursor: grab;
}
