<div class="wrapper">
  <mat-progress-bar *ngIf="messagesLoading === true" mode="indeterminate"></mat-progress-bar>
  <div (click)="newMsgCameBtnClick()" *ngIf="newMsgCame" class="has-new-messages">
    {{ 'newMessage' | translate:self }}<img src="../../../../assets/img/down-arrow-2.png" alt=""></div>

  <div #messagesElem class="comments" infiniteScroll [infiniteScrollDistance]="2" [scrollWindow]="false"
    [infiniteScrollThrottle]="100" (scrolledUp)="onScrollUp()">

    <div class="comments-wrapper">
      <div *ngFor="let message of messages" class="comment">

        <div *ngIf="message.isYou === false" class="their">
          <div *ngIf="hasAttachment(message)" class="attachments">
            <div *ngIf="defineFileType(message.attachmentOriginalName) === 'image'" class="img-wrapper">
              <figure>
                <img src={{message.attachmentUrl}} alt="">
              </figure>
            </div>
            <div *ngIf="defineFileType(message.attachmentOriginalName) === 'video'" class="video-wrapper">
              <div class="video">
                <figure>
                  <video controls>
                    <source src={{message.attachmentUrl}}>
                  </video>
                </figure>
              </div>
            </div>
            <div *ngIf="defineFileType(message.attachmentOriginalName) === 'file'" class="file-wrapper">
              <div class="file">
                <img src="../../../assets/img/file.png" alt="">
                <div class="file-name-and-download">
                  <a href={{message.attachmentUrl}} target="_blank"
                    download={{message.attachmentOriginalName}}>{{ 'download' | translate:self }}</a>
                  <div class="file-name">{{message.attachmentOriginalName}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="avatara-wrapper">
            <!-- <img src="{{project.avatara.url}}" alt="avatara"> -->
            <img src="https://www.shareicon.net/data/128x128/2015/09/24/106428_man_512x512.png" alt="avatara">
          </div>
          <div class="right-part">
            <div class="data-and-name">
              <div class="name">{{project.legalEntityName}}</div>
              <div class="data">
                <span>{{ 'reply' | translate:self}} </span>
                <span>{{message.createdDate | date: 'dd MMM yyyy'}}</span>
              </div>
            </div>
            <div class="text">{{message.text}}</div>
            <!-- <div class="answer">
              <div class="textarea-wrapper">
                <textarea rows="1" placeholder="{{ 'leaveComment' | translate:self }}"></textarea>
              </div>
              <button type="button">{{ 'replyBtn' | translate:self}}</button>
            </div> -->
          </div>
        </div>

        <div *ngIf="message.isYou === true" class="you">
          <div *ngIf="hasAttachment(message)" class="attachments">
            <div *ngIf="defineFileType(message.attachmentOriginalName) === 'image'" class="img-wrapper">
              <figure>
                <img src={{message.attachmentUrl}} alt="">
              </figure>
            </div>
            <div *ngIf="defineFileType(message.attachmentOriginalName) === 'video'" class="video-wrapper">
              <div class="video">
                <figure>
                  <video controls>
                    <source src={{message.attachmentUrl}}>
                  </video>
                </figure>
              </div>
            </div>
            <div *ngIf="defineFileType(message.attachmentOriginalName) === 'file'" class="file-wrapper">
              <div class="file">
                <img src="../../../assets/img/file.png" alt="">
                <div class="file-name-and-download">
                  <a href={{message.attachmentUrl}} target="_blank"
                    download={{message.attachmentOriginalName}}>{{ 'download' | translate:self }}</a>
                  <div class="file-name">{{message.attachmentOriginalName}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-wrapper">
            <div class="avatara-wrapper">
              <img src="https://www.shareicon.net/data/128x128/2015/09/24/106428_man_512x512.png" alt="avatara">
            </div>
            <div class="right-part">
              <div class="data-and-name">
                <div class="name">{{ 'investor' | translate:self}}</div>
                <div class="data">
                  <span>{{ 'reply2' | translate:self}} </span>
                  <span>{{message.createdDate | date: 'dd MMM yyyy'}}</span>
                </div>
              </div>
              <div class="text">{{message.text}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="send-comment">
    <div *ngIf="previewAttachment" class="attachment-wrapper">
      <div class="attachments">
        <div *ngIf="defineFileType(previewAttachment.name) === 'image'" class="img-wrapper">
          <img (click)="removeAttachment()" class="close-img" src="../../../../assets/img/close-2.png" alt="close">
          <app-rotating-load-indicator *ngIf="attachmentReady === false"></app-rotating-load-indicator>
          <figure>
            <img src={{previewAttachment.binaryData}} alt="">
          </figure>
        </div>
        <div *ngIf="defineFileType(previewAttachment.name) === 'video'" class="video-wrapper">
          <img (click)="removeAttachment()" class="close-img" src="../../../../assets/img/close-2.png" alt="close">
          <app-rotating-load-indicator *ngIf="attachmentReady === false"></app-rotating-load-indicator>
          <div class="video">
            <figure>
              <video controls>
                <source src={{previewAttachment.binaryData}}>
              </video>
            </figure>
          </div>
        </div>
        <div *ngIf="defineFileType(previewAttachment.name) === 'file'" class="file-wrapper">
          <img (click)="removeAttachment()" class="close-img" src="../../../../assets/img/close-2.png" alt="close">
          <app-rotating-load-indicator *ngIf="attachmentReady === false"></app-rotating-load-indicator>
          <div class="file">
            <img src="../../../assets/img/file.png" alt="">
            <div class="file-name">{{previewAttachment.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-wrapper">
      <div class="attach">
        <i class="fa fa-paperclip" aria-hidden="true"></i>
        <input (change)="handleAttachmentChange($event)" class="attach-input" type="file">
      </div>
      <div class="textarea-wrapper">
        <textarea [(ngModel)]="sharedChatMsgText" rows="1"
          placeholder="{{ 'leaveComment' | translate:self }}"></textarea>
      </div>
      <button [ngClass]="{'send-disabled': attachmentReady === false}" (click)="sendMessageToSharedChat()" type="button">{{ 'send' | translate:self}}</button>
    </div>
  </div>
</div>
