<div class="wrapper">
  <div class="header">
    <app-header *ngIf="!userRole"></app-header>
    <app-investor-navbar *ngIf="userRole === 'Investor'"></app-investor-navbar>
    <app-vendor-navbar *ngIf="userRole === 'Vendor'"></app-vendor-navbar>
  </div>

  <div class="slide-wrapper">
    <img *ngIf="canScrollUp" (click)="slideUp()" src="../../../assets/img/slide-arrow.png" alt="" class="slide-up">
    <img *ngIf="canScrollDown" (click)="slideDown()" src="../../../assets/img/slide-arrow.png" alt=""
      class="slide-down">

    <div class="slide-container">
      <section class="slide-page transition" style="transform: translate3d(0px, 0px, 0px);">
        <div class="map-and-invest">
          <div class="map-video">
            <video autoplay crossorigin="anonymous">
              <source src="../../../assets/videos/cors.mp4">
            </video>
            <div class="convex"></div>
          </div>
          <div class="invest">
            <div class="start-invest">
              <div class="start">Начни</div>
              <div class="invest-text">Инвестировать</div>
            </div>
            <div class="social">
              <div class="text">Войти через социальные сети: </div>
              <div class="social-buttons">
                <div class="social-signin-btn">
                  <img src="../../../assets/img/facebook.png" alt="">
                </div>
                <div class="social-signin-btn">
                  <img src="../../../assets/img/linkedin.png" alt="">
                </div>
                <div class="social-signin-btn">
                  <img src="../../../assets/img/google.png" alt="">
                </div>
                <div class="social-signin-btn">
                  <img src="../../../assets/img/mail.png" alt="">
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="commissions">
                <span class="green">0% </span>
                <span>комиссий</span>
              </div>
              <div class="payments">
                <span class="green">Без скрытых </span>
                <span>платежей</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="slide-page transition" style="transform: translate3d(0px, 100%, 0px);">
        <div class="curve-line">
          <div class="circle c1"></div>
          <div class="circle c2"></div>
          <div class="circle c3"></div>
          <div class="circle c4"></div>
          <div class="circle c5"></div>
          <div class="circle c6"></div>
          <div class="circle c7"></div>
          <div class="circle c8"></div>
          <div class="circle c9"></div>
          <div class="circle c10"></div>
          <div class="circle c11"></div>
          <div class="circle c12"></div>
          <div class="circle c13"></div>

          <div class="investor">
            <img src="../../../assets/img/index-page-img/investor.png" alt="">
            <div>ИНВЕСТОР</div>
          </div>
          <div class="vendor">
            <div>ВЕНДОР</div>
            <img src="../../../assets/img/index-page-img/vendor.png" alt="">
          </div>

          <div class="block b1">
            <div class="name-and-text">
              <div class="name">Безопастность</div>
              <div class="text">Перед размещением на проект вендор проходит проверку</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/1.png" alt="">
            </figure>
          </div>
          <div class="block b2">
            <div class="name-and-text">
              <div class="name">Простота</div>
              <div class="text">Не требуется дополнитльного образования</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/2.png" alt="">
            </figure>
          </div>
          <div class="block b3 reverse">
            <div class="name-and-text">
              <div class="name">Прозрачность</div>
              <div class="text">Прямое финансирование</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/3.png" alt="">
            </figure>
          </div>
          <div class="block b4 reverse">
            <div class="name-and-text">
              <div class="name">Рейтинг</div>
              <div class="text">Перед размещением на проект вендор проходит проверку</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/4.png" alt="">
            </figure>
          </div>
          <div class="block b5 reverse">
            <div class="name-and-text">
              <div class="name">Аудит</div>
              <div class="text">Не уверен - закажи аудит предприятия</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/5.png" alt="">
            </figure>
          </div>
          <div class="block b6">
            <div class="name-and-text">
              <div class="name">Будь в курсе</div>
              <div class="text">Получай новости, общайся с вендором</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/6.png" alt="">
            </figure>
          </div>
          <div class="block b7 reverse">
            <div class="name-and-text">
              <div class="name">Без комисиий площадки</div>
              <div class="text">Нет скрытых платеже</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/7.png" alt="">
            </figure>
          </div>
          <div class="block b8 reverse">
            <div class="name-and-text">
              <div class="name">3Д отображение бизнеса на карте</div>
              <div class="text">Следи за изменением вендора онйлайн</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/8.png" alt="">
            </figure>
          </div>
          <div class="block b9 reverse">
            <div class="name-and-text">
              <div class="name">Финансирование</div>
              <div class="text">Получение средств для развития бизнеса</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/9.png" alt="">
            </figure>
          </div>
          <div class="block b10 reverse">
            <div class="name-and-text">
              <div class="name">Совет</div>
              <div class="text">Найди соратника для ведения бизнеса</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/10.png" alt="">
            </figure>
          </div>
          <div class="block b11">
            <div class="name-and-text">
              <div class="name">Выбор</div>
              <div class="text">Выбирай лучшие предложения инвестора</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/11.png" alt="">
            </figure>
          </div>
          <div class="block b12 reverse">
            <div class="name-and-text">
              <div class="name">Место</div>
              <div class="text">Получи рейтинг предприятия</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/12.png" alt="">
            </figure>
          </div>
          <div class="block b13">
            <div class="name-and-text">
              <div class="name">Реклама</div>
              <div class="text">Продвижение предприятия, отображение на карте</div>
            </div>
            <figure>
              <img src="../../../assets/img/index-page-img/13.png" alt="">
            </figure>
          </div>
        </div>
      </section>

      <section class="slide-page transition" style="transform: translate3d(0px, 100%, 0px);">
        <div class="info">
          <div class="trust">
            <div class="trust-text">Нам доверяют</div>
            <div class="invested-and-projects">
              <div class="flex">
                <div class="number">$5,382</div>
                <div class="wrapper-2">
                  <div class="circle-1"></div>
                  <div class="text">Инвестировано</div>
                </div>
              </div>
              <div class="flex">
                <div class="number">$8,256</div>
                <div class="wrapper-2">
                  <div class="circle-2"></div>
                  <div class="text">Проекты</div>
                </div>
              </div>
            </div>
          </div>

          <div class="numbers">
            <div class="left">
              <div class="invested-money">
                <div class="count">128+</div>
                <div class="text">Инвесторов <span class="bold-text">уже вложили деньги</span> в успешные проекты</div>
              </div>
              <div class="received-investment">
                <div class="count">514+</div>
                <div class="text">Проектов <span class="bold-text">получили инвестиции</span> для развития своего
                  бизнеса
                </div>
              </div>
            </div>
            <div class="right"></div>
          </div>
        </div>
      </section>

      <section class="slide-page transition" style="transform: translate3d(0px, 100%, 0px);">
        <div class="subscribe-and-footer">
          <div class="subscribe">
            <div class="subscribe-background"></div>
            <div class="subscribe-content">
              <div class="email-icon">
                <img src="../../../assets/img/email-2.png" alt="">
              </div>
              <div class="stay-updated">Будь в курсе всех обновлений</div>
              <div class="input-and-button">
                <div class="inline-block">
                  <input type="text" placeholder="Enter your email address">
                  <button>Подписаться</button>
                </div>
              </div>
              <div class="email-security">
                *Твой e-mail в безопастности с нами. Мы никогда и ни с кем не поделимся.
              </div>
            </div>
          </div>

          <div class="footer">
            <div class="iiua">IIUA</div>
            <div class="menu">
              <div class="item">Home</div>
              <div class="item">Features</div>
              <div class="item">Privacy Policy</div>
              <div class="item">Terms</div>
              <div class="item">About</div>
            </div>
            <div class="year">© 2019 IIUA</div>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>
