<app-header></app-header>

<!-- <section class='social-signin'>
  <div>Social Sign in section</div>
  <div>Или поместить эту секцию на роут signin?</div>

  <a routerLink="google_client_id TODO">
    <div class='social-signin-btn'>
      <div class='google-icon'></div>
      <div class='label'>Sign in with Google</div>
    </div>
  </a>

  <a routerLink="facebook_client_id TODO">
    <div class='social-signin-btn'>
      <div class='facebook-icon'></div>
      <div class='label'>Sign in with Facebook</div>
    </div>
  </a>
</section> -->