<div class="form-group steps">
  <div class="container">

    <div class="row">
      <div class="col-12 mb-2">{{ 'whatSteps' | translate:self }}</div>
      <div class="col-lg-8 col-md-7 col-12">
        <textarea (input)="newItemOnInput()" type="text" [(ngModel)]="newItem" placeholder="{{ 'stepPlaceholder' | translate:self }}" class="form-control item-name"
          [ngClass]="{ 'is-invalid': !newItemMinValid || !newItemMaxValid || !newItemNullValid }"></textarea>
        <div *ngIf="!newItemMinValid || !newItemMaxValid || !newItemNullValid" class="invalid-feedback">
          <div *ngIf="!newItemNullValid">{{ 'stepEmpty' | translate:self }}</div>
          <div *ngIf="!newItemMinValid">{{ 'stepMinLength' | translate:self }}</div>
          <div *ngIf="!newItemMaxValid">{{ 'stepMaxLength' | translate:self }}</div>
        </div>
        <div class="invalid-item-count" *ngIf="showMinItemsCountErr()">{{ 'minStepsCount' | translate:self }} {{minItemsCount}}</div>
        <div class="invalid-item-count" *ngIf="showMaxItemsCountErr()">{{ 'maxStepsCount' | translate:self }} {{maxItemsCount}}</div>
      </div>
      <div class="col-lg-4 col-md-5 col-12 pr-0">
        <button (click)="addNewItem()" type="button" class="btn btn-green mb-2">{{ 'addStep' | translate:self }}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-12">
        <ngx-sortable (listSorted)="listOrderChanged($event)" [items]="items" [name]="'List'" [listStyle]="{dropZoneHeight: '50px'}">
          <ng-template let-item>
            <div class="sortable-list-item">
              <div>{{item.data}}</div>
              <button (click)="removeItem(item)" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </ng-template>
        </ngx-sortable>
      </div>
    </div>

  </div>
</div>
