@import '../../../styles-variables.scss';

.chart-wrapper {
    width: 100%;
    height: 100%;

    svg.svg-line-chat {
        width: 100%;
        height: 100%;
        background: rgb(255, 230, 0);
    }

    #line-chat-tooltip {
        position: absolute;
        background: rgba($green, 0.1);
        padding: 5px;
        display: none;
        border-radius: 6px;
    }
}