@import '../../../styles-variables.scss';

.items-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 130px;
  overflow: auto;
  margin-bottom: 10px;

  .item {
    background: $green;
    border-radius: 6px;
    color: white;
    margin: 5px;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;

    &:hover {
      background: $middleGreen;
    }

    img {
      height: 18px;
      display: inline;
      margin-left: 10px;
    }
  }

  .clear-all {
    font-size: 14px;
    letter-spacing: 0.4px;
    margin: 5px;
    padding: 5px 8px;
    color: $green;
    cursor: pointer;

    &:hover {
      color: $middleGreen;
    }
  }
}
