<div class="wrapper">
  <div class="sticky">
    <app-header></app-header>
  </div>

  <section>
    <div class="form-wrapper">
      <div class="form">
        <div class="top-green-div"></div>
        <div class="iiua">IIUA</div>
        <div class="text">{{ 'text' | translate:self }}</div>
        <div *ngIf="emailBeingVerified" class="text">{{ 'emailBeingVerified' | translate:self }}</div>
        <div *ngIf="failedConfirmEmail" class="text red">{{ 'failedConfirmEmail' | translate:self }}</div>
      </div>
    </div>
  </section>
</div>
