<div class="wrapper">
  <div class="sticky">
    <app-header></app-header>
  </div>

  <section>
    <div class="form-wrapper">
      <div class="form">
        <div class="top-green-div"></div>
        <div class="iiua">IIUA</div>
        <div class="text">{{ 'text' | translate:self }}</div>
        <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input placeholder="{{ 'email' | translate:self }}" type="email" formControlName="email"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }" />
            <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
              <div *ngIf="formControls.email.errors.required">{{ 'emailRequired' | translate:self }}</div>
              <div *ngIf="formControls.email.errors.pattern">{{ 'validEmail' | translate:self }}</div>
            </div>
          </div>
          <div class="form-group btn-wrapper">
            <button [disabled]="submitted && !recoveryForm.valid">{{ 'recovery' | translate:self }}</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
