.chart-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  ::ng-deep .svg-pie-chart {
    width: 100%;
    height: 100%;
    background: orange;

    .arc .header {
      font: 16px sans-serif;
      text-anchor: middle;
    }

    .arc text {
      font: 14px sans-serif;
      text-anchor: middle;
    }

    .arc .text-center {
      fill: #505d6f;
      font: 30px sans-serif;
      text-anchor: middle;
      font-family: Helvetica;
    }

    .arc .total {
      fill: #9aa1a9;
      letter-spacing: 2px;
      font: 16px sans-serif;
      text-anchor: middle;
      font-family: Helvetica;
      transform: translateY(20px);
    }

    .arc path {
      stroke: #fff;
    }

    .arc path:hover {
      opacity: 0.9;
    }
  }
}
