.remove-section {
    text-align: center;
    padding: 20px;
}

hr {
    border-top: 2px solid grey;
}

.form-group {
    position: relative;
  
    img.toggle-password {
      height: 15px;
      position: absolute;
      right: 5px;
      top: 43px;
      cursor: pointer;
    }
  }