<nav class="navbar">
  <a routerLink="">
    <span class="navbar-brand mb-0 h1">IIUA</span>
  </a>
  <div class="right-part">
    <button #profile (click)='goToProfile()' type="button">{{ 'profile' | translate:self }}</button>
    <button #upload (click)='uploadModel()' type="button">{{ 'upload3DModels' | translate:self }}</button>
    <button (click)="signOut()" type="button">{{ 'signOut' | translate:self }}</button>
    <div class="language">
      <div (click)="openLanguageMenu()" class="selected-lang">
        <div *ngIf="translateService.lang === 'ru'">RU</div>
        <div *ngIf="translateService.lang === 'en'">EN</div>
        <img src="../../../../assets/img/triangle.png" alt="" [ngClass]="{'menu-open':languageMenuIsOpen}">
      </div>
      <ul *ngIf="languageMenuIsOpen">
        <li (click)="languageChange('ru')">Русский</li>
        <li (click)="languageChange('en')">English</li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
