
::ng-deep div#histogram-chart-container {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #2F4A6D;
    text-align: center;
}

::ng-deep #histogram-chart-container svg {
    width: 100%;
    height: 100%;
}

::ng-deep #histogram-chart-container .bar {
    fill: #80cbc4;
}

::ng-deep #histogram-chart-container text {
    font-size: 12px;
    fill: #fff;
}

::ng-deep #histogram-chart-container path {
    stroke: gray;
}

::ng-deep #histogram-chart-container line {
    stroke: gray;
}

::ng-deep #histogram-chart-container line#limit {
    stroke: #FED966;
    stroke-width: 3;
    stroke-dasharray: 3 6;
}

::ng-deep #histogram-chart-container .grid path {
    stroke-width: 0;
}

::ng-deep #histogram-chart-container .grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
}

::ng-deep #histogram-chart-container text.divergence {
    font-size: 14px;
    fill: #2F4A6D;
}

::ng-deep #histogram-chart-container text.value {
    font-size: 14px;
}

::ng-deep #histogram-chart-container text.title {
    font-size: 22px;
    font-weight: 600;
}

::ng-deep #histogram-chart-container text.label {
    font-size: 14px;
    font-weight: 400;
}
