<mat-progress-bar *ngIf="showProgressBar" class="progress-bar-fixed" mode="indeterminate"></mat-progress-bar>

<div class="wrapper">
  <div class="sticky">
    <app-header></app-header>
  </div>

  <section class="bg-color-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="form">
            <div class="top-green-div"></div>
            <h2>{{ 'logIn' | translate:self }}</h2>
            <div class="social">
              <div class="text">{{ 'social' | translate:self }}</div>
              <div class="social-buttons">
                <div class="social-signin-btn">
                  <img src="../../../assets/img/facebook.png" alt="">
                </div>
                <div class="social-signin-btn">
                  <img src="../../../assets/img/linkedin.png" alt="">
                </div>
                <div class="social-signin-btn">
                  <img src="../../../assets/img/google.png" alt="">
                </div>
              </div>
            </div>
            <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input placeholder="{{ 'email' | translate:self }}" type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }" />
                <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
                  <div *ngIf="formControls.email.errors.required">{{ 'emailRequired' | translate:self }}</div>
                  <div *ngIf="formControls.email.errors.pattern">{{ 'validEmail' | translate:self }}</div>
                </div>
              </div>
              <div class="form-group mb-0">
                <input placeholder="{{ 'password' | translate:self }}" autocomplete="on" type="password" formControlName="password"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" />
                <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
                  <div *ngIf="formControls.password.errors.required">{{ 'passwordRequired' | translate:self }}</div>
                  <div *ngIf="formControls.password.errors.minlength">{{ 'passwordMinLength' | translate:self }}</div>
                </div>
              </div>
              <div class="links">
                <a href="">{{ 'restorePassword' | translate:self }}</a>
                <a routerLink="/signup">{{ 'register' | translate:self }}</a>
              </div>
              <div class="form-group btn-wrapper">
                <button [disabled]="submitted && !signinForm.valid" class="btn sign-in-btn">{{ 'logInBtn' | translate:self }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
