<div class="full-screen-block">
  <mat-progress-bar *ngIf="showProgress === true" mode="indeterminate"></mat-progress-bar>
  <div class="map-wrapper">
    <app-map [replace3DObjects]="projects" (mapFinishInit)="onMapFinishInit()" (objectClick)="onMapObjectClick($event)"
      (objectHover)="onMapObjectHover($event)"></app-map>
  </div>

  <div class="filter-wrapper">
    <div>
      <div class="search-by-name">
        <div class="input-group mb-3 mt-3">
          <div class="input-group-prepend">
            <button (click)="searchByKeywordBtn($event)" class="btn btn-outline-secondary" type="button">
              <span class="fa fa-search"></span>
            </button>
          </div>
          <input #searchByKeyWordInput (keydown)="searchByKeywordKeyDown($event)" type="text" class="form-control" [(ngModel)]="searchWord"
            placeholder="{{ 'findProject' | translate:self }}" aria-label="Project name"
            aria-describedby="basic-addon2">
        </div>
      </div>
    </div>

    <div class="filter-btn-wrapper">
      <button (click)="filterIsExpanded = !filterIsExpanded" type="button" class="filter-btn"
        [ngClass]="{ 'filter-btn-expanded': filterIsExpanded }">
        <span>{{ 'filters' | translate:self }}</span>
        <i *ngIf="filterIsExpanded" class="fa fa-angle-up ml-2"></i>
        <i *ngIf="!filterIsExpanded" class="fa fa-angle-down ml-2"></i>
      </button>
    </div>

    <div *ngIf="filterIsExpanded" class="filter-width">
      <app-filter (filterChange)="filterOnChange($event)"></app-filter>
    </div>
  </div>

  <div *ngIf="selectedProject" class="project-card-wrapper">
    <app-main-screen-project-card [selectedProject]="selectedProject"></app-main-screen-project-card>
  </div>

  <div class="right-component-wrapper">
    <app-main-screen-right></app-main-screen-right>
  </div>
</div>



<div #previewCardWrapper class="preview-card-wrapper">
  <div *ngIf="showPreviewCard && hoveredProject" class="preview-card">
    <app-hovered-project-card (clickOnCardEvent)="onCardClick($event)" [hoveredProject]="hoveredProject">
    </app-hovered-project-card>
  </div>
</div>


<div #interactiveInvestmentCard class="interactive-investment-card-wrapper">
  <app-investor-interactive-investment-card></app-investor-interactive-investment-card>
</div>

<div class='upload-advance' style="background: '../../../../assets/img/message-3.png'"></div>
<div class='upload-advance' style="background: '../../../../assets/img/bell-hover.png'"></div>
<div class='upload-advance' style="background: '../../../../assets/img/approve-hover.png'"></div>
